/* styles.css */

body {
    background-image: url('Design/Background PatternPttern.png');
    background-repeat: repeat-x; /* or repeat-x, repeat-y, no-repeat, etc. depending on your needs */
    /* Add other background properties as needed */
    background-size: contain; /* or contain, or a specific size */
    background-position: center center; /* or specify the position */
    background-attachment: fixed; /* to make it fixed */
    /* Add other background properties as needed */
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 352px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color :#333333;

}

header p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  color: #757575;
  
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: #000;
  margin-top: 10px;
  font-size: 14px;
}

input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background: linear-gradient(180deg, #625BF7 0%, #463EEA 100%);
  color: #fff;
  width: 100%; /* Make the button take full width */
  height: 55.8px;
  padding: 9px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

/* Add hover effect to the button */
button:hover {
  background: linear-gradient(180deg, #463EEA 0%, #3f3b93 100%);
  color: #fff;
}

.error-message {
  margin-top: 16px;
  color: #463EEA;
  font-size: 24px;
  text-align: center;
}

.success-message {
  display: none; /* Hide the success message by default */
  text-align: center;
  margin-top: 20px;
}

.success-message p {
  color: #28a745; /* Green color for success message */
  font-weight: bold;
}

/* Responsive styles using media queries */
@media only screen and (max-width: 600px) {
  .card {
      width: 100%;
      padding: 10px;
  }
  
  button {
      width: 100%;
  }
}